fastapi
uvicorn[standard]
SQLAlchemy
alembic
psycopg2-binary
pydantic-settings
python-dotenv
pydantic[email]
python-multipart
passlib[bcrypt]==1.7.4
python-jose[cryptography]
fastapi-limiter
redis
cloudinary
bcrypt==4.1.2
fastapi-mail
pytest
pytest-cov
httpx
fakeredis
sphinx
